<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/header :: header">
    <title>레이아웃 타이틀</title>
</head>
<body>
<div id="wrapper">
    <div th:replace="layout/sideBar :: sideBar"></div>
    <div id="content-wrapper" class="d-flex flex-column">
    <div th:replace="layout/config :: config"></div>
        <!-- Main Content -->
        <div id="content">
            <div th:replace="layout/navigation :: navigation"></div>
            <th:block layout:fragment="Content"></th:block>
        </div>
    </div>
    <div th:replace="layout/footer :: footer"></div>
    <!--<div th:replace="~{/copyright :: copyright}"></div>-->
    <div th:replace="layout/logoutModal :: logoutModal"></div>

    <div id = "Progress_Loading"><!-- 로딩바 -->
        <img src="/img/ajax_loading.gif" alt=""/>
    </div>
    <script src="/js/loading/loading.js"></script>

    <style> <!-- 로딩바스타일 -->
    body
    {
        text-align: center;
        margin: 0 auto;
    }
    #Progress_Loading
    {
        position: absolute;
        left: 50%;
        top: 50%;
        background: #ffffff;
    }
    </style>
</div>
</body>
</html>